.contentNav{
    background: #fff;
    padding: .2rem 0;
    border-bottom: .02rem solid #c0bfc4;
    display: flex;
    .contentNav_item{
        flex: 1;
        a{
            color: #2C2C2C;
            text-align: center;
            display: block;
            font-size: .2rem;
            img{
                height: .6rem;
            }
            p{
                line-height: .24rem;
                font-size: .24rem;
                text-align: center;
                margin-top: .06rem;
            }
        }
    }
}